
.mobile-header{
  .mobile-banner{
    .ratio-banner{
      color: #FFA031;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .guaranteed {
      color: #FFA031;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .certificates {
      color: #FFF;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
.mobile-fixed {
}